<!--The content below is only a placeholder and can be replaced.-->
<main role="main">

  <div class="row">
    <div class="col-sm-9">
      <div class="jumbotron">
        <h1 class="display-4">Calculator</h1>

        <form style="padding-top: 20px">
          <div class="form-group row">
            <label for="private_key" class="col-sm-2 col-form-label">Private key</label>
            <div class="col-sm-10">
              <input name="privateKey" [(ngModel)]="form.privateKey" (ngModelChange)="onPrivateKeyInput($event)"
                     type="password" class="form-control" id="private_key" placeholder="private key">
            </div>
          </div>
          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-legend col-sm-2">Year</legend>
              <div class="col-sm-10">
                <select [disabled]="!isValidPrivateKey" name="year" class="form-control" id="year"
                        [(ngModel)]="form.chosenYear"
                        (change)="onSetYear($event.target.value)">
                  <option *ngFor="let item of [2017, 2018];" value="{{item}}">{{item}}</option>
                </select>
              </div>
            </div>
          </fieldset>
          <div class="form-group row">
            <label for="private_key" class="col-sm-2 col-form-label">Profile URL</label>
            <div class="col-sm-10">
              <input name="userProfile" [(ngModel)]="form.userProfileURL" (ngModelChange)="onProfileInput($event)"
                     type="test" class="form-control" id="user_profile" placeholder="user profile link">
            </div>
          </div>


          <div class="form-group row">
            <label for="brand" class="col-sm-2 col-form-label">Brand</label>
            <div class="col-sm-10">
              <select [disabled]="!isValidPrivateKey" name="brand" class="form-control" id="brand"
                      [(ngModel)]="form.brand"
                      (change)="onSetBrand($event.target.value)">
                <option *ngFor="let item of data.brands;" value="{{item.value}}">{{item.name}}</option>
              </select>
            </div>
          </div>


          <div class="form-group row">
            <label for="model" class="col-sm-2 col-form-label">Model</label>
            <div class="col-sm-10">
              <select [disabled]="!isValidPrivateKey" name="model" class="form-control" id="model"
                      [(ngModel)]="form.model"
                      (change)="onSetModel($event.target.value)">
                <option *ngFor="let item of data.models;" value="{{item.value}}">{{item.name}}</option>
              </select>
            </div>
          </div>


          <div class="form-group row">
            <label for="model" class="col-sm-2 col-form-label">Was an accident</label>
            <div class="col-sm-10">
              <select [disabled]="!isValidPrivateKey" name="model" class="form-control" id="accident"
                      [(ngModel)]="form.accident">
                <option *ngFor="let item of data.accident;" value="{{item.value}}">{{item.name}}</option>
              </select>
            </div>
          </div>


          <div class="form-group row">
            <label for="model" class="col-sm-2 col-form-label">Engine (horsepower)</label>
            <div class="col-sm-10">
              <select [disabled]="!isValidPrivateKey" name="model" class="form-control" id="engine"
                      [(ngModel)]="form.horsepower">
                <option *ngFor="let item of data.engine;" value="{{item.value}}">{{item.name}}</option>
              </select>
            </div>
          </div>


          <div class="form-group row">
            <label for="model" class="col-sm-2 col-form-label">Driver's age</label>
            <div class="col-sm-10">
              <select [disabled]="!isValidPrivateKey" name="model" class="form-control" id="age"
                      [(ngModel)]="form.age">
                <option *ngFor="let item of data.age;" value="{{item.value}}">{{item.name}}</option>
              </select>
            </div>
          </div>


          <div class="form-group row">
            <div class="col-sm-10">
              <button [disabled]="!isValidPrivateKey || !isValidProfileUrl ||this.savedCost" type="button" class="btn btn-primary" (click)="calculate()">
                Calculate
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card" style="width: 20rem;">
        <div class="card-body">
          <h4 class="card-title">Plan calculator</h4>
          <p class="card-text">year: {{form.chosenYear}}</p>
          <p class="card-text">cost: {{calculatedCost || savedCost | number: '1.2'}} rub</p>
          <p class="card-text">middle car cost: {{carPrice | number: '1.2'}} rub</p>
          <button *ngIf="!savedCost" type="button" [disabled]="!isValidPrivateKey || !isValidProfileUrl || !calculatedCost" class="btn btn-primary"
                  (click)="save()">Buy
          </button>
          <button *ngIf="savedCost" type="button" class="btn btn-secondary">Already bought</button>

        </div>
      </div>
    </div>
  </div>
  <!--
    <div class="row marketing">
      <div class="col-lg-6">
        <h4>Subheading</h4>
        <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

        <h4>Subheading</h4>
        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet
          fermentum.</p>

        <h4>Subheading</h4>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
      </div>

      <div class="col-lg-6">
        <h4>Subheading</h4>
        <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

        <h4>Subheading</h4>
        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet
          fermentum.</p>

        <h4>Subheading</h4>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
      </div>
    </div>
  -->


</main>

